body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: #f3f0d7;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
input {
    width: 100%;
    padding: 12px;
    border: 10px;
    outline: 0;
    margin: 15px auto;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #121212;
}
button {
    background-color: #5110f6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #036b1f;
}